<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Brooder Web</title>
	<style>
	@import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);
	 
	body{
		text-align: center;    
	}
	h1{
		font-family: 'Amatic SC', cursive;
		font-weight: normal;
		color: #8ac640;
		font-size: 2.5em;
	}
	
	ul {
		list-style-type: none;
	}
	
	ul.configBrooder > li {
		margin-top: 1em;
	}
	
	</style>
	{% block head %}{% endblock %}
</head>
<body>
 {% block body %}{% endblock %}
 
</body>
</html>
